<div class="container-fluid g-0">
  <app-header 
  [presupuestoDisponible]="presupuestoDisponible" 
  [totalIngresos]="totalIngresos"
  [totalEgresos]="totalEgresos"
  ></app-header>
</div>
<div class="container">
  <app-formulario 
  (variablesHeader)="actualizarHeader($event)"
  ></app-formulario>
  <div class="row mt-5 d-flex">
    <div class="col-12 d-flex">
      <div class="col-6">
        <!-- <h4 class="ingreso-titulo">INGRESOS</h4>
        <div class="col-10">
          <ul class="list-group list-group-flush"> -->
            <app-ingresos></app-ingresos>
          <!-- </ul>
        </div> -->
      </div>
      <div class="col-6">
        <!-- <h4 class="ingreso-titulo">INGRESOS</h4>
        <div class="col-10">
          <ul class="list-group list-group-flush"> -->
            <app-egresos></app-egresos>
          <!-- </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>